@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bg bg-primary text-center fw-bold text-white"> Hakkımızda </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque dolor eveniet molestiae necessitatibus nemo numquam quidem quod, sed vel! Aliquid autem itaque minima necessitatibus pariatur praesentium quae quas quos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus magni non omnis, possimus quas soluta ut. Commodi dolore esse facere, iste iure laborum magni, mollitia officia quaerat quas rem, tempora? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi cumque dolore ex exercitationem incidunt libero molestiae necessitatibus placeat quo! Amet beatae corporis deleniti eius eum iste rem sed vel. </p>
</div>